.education-section {
  padding: 80px 60px;
  background-color: #00253A;
  color: white;
}

.section-title {
  text-align: center;
  font-size: 36px;
  color: #F77F00;
  margin-bottom: 40px;
}

.timeline {
  position: relative;
  margin: auto;
  max-width: 1000px;
}

.timeline::before {
  
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: #F77F00;
}

.timeline-item {
  position: relative;
  margin-left: 60px;
  margin-bottom: 40px;
}

.timeline-icon {
  position: absolute;
  left: 5px;
  top: 10px;
  background: #F77F00;
  color: white;
  border-radius: 50%;
  padding: 12px;
  font-size: 16px;
}

.timeline-content {
  background: #ffffff;
  color: #212121;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.timeline-content h3 {
  margin: 5px;
  margin-left: 30px;
  font-size: 22px;
  color: #003049;
}

.timeline-content h4 {
    margin: 5px;
  margin-left: 30px;
  font-size: 18px;
  color: #555;
}

.timeline-content p {
    margin: 5px;
  margin-left: 30px;
  font-size: 16px;
  color: #777;
}

.duration {
  display: inline-block;
  margin-left: 88%;
  margin-top: 10px;
  font-size: 16px;
  color: #F77F00;
  font-weight: 900;
}
@media (max-width: 768px) {
  .education-section {
    padding: 40px 20px;
  }

  .section-title {
    font-size: 28px;
  }

  .timeline::before {
    left: 10px;
  }

  .timeline-item {
    margin-left: 40px;
  }

  .timeline-icon {
    left: -3px;
    font-size: 14px;
    padding: 10px;
  }

  .timeline-content {
    padding: 16px;
  }

  .timeline-content h3 {
    font-size: 18px;
    margin-left: 20px;
  }

  .timeline-content h4 {
    font-size: 16px;
    margin-left: 20px;
  }

  .timeline-content p {
    font-size: 14px;
    margin-left: 20px;
  }

  .duration {
    margin-left: 0;
    margin-top: 15px;
    display: block;
    text-align: right;
    font-size: 14px;
  }
}
