* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.hero,
.navbar,
.footer,
.projects-section,
.about-container,
.contact-section,
.education-section {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
